
<div class="about-background">
    <h1 class="about-text text-center"> About Us </h1>
</div>

<div class="about-background-2 text-center">
<br>
<br>
    <h1 class="about-text2"> "The 'E' in ecommerce obviously means Electronics" </h1>
<br>
      <a href="<%= items_path %>" class="btn btn-default"> <h2> Stop wasting time, go buy something!</h2></a>
</div>
<br>
<footer>
			<p class="footer text-center">Copyrighted 2016. All rights reserved FSWD MaGIC Academy.</a></p>
	</footer>
