<div class="about-background">
    <h1 class="about-text text-center"> About Us </h1>
</div>

<div class="about-background-2 text-center">
<br>
    <h1> "An E-commerce that sell evil stuff" </h1>

<br>
    <h2>
      <button>Try It Now!</button>
    </h2>

</div>
