<div class="about-background">
    <h1 class="about-text text-center"> About Us </h1>
</div>

<div class="about-background-2 text-center">
<br>
    <h1> "The 'E' in ecommerce obviously means Electronics" </h1>

<br>
    <h2>
      <button>Find stuff!</button>
    </h2>

</div>
