
.about-background {
  background-color: black;
  height: 50vh;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-background-2 {
  background-color: #b3ffb3;
  height: 300px;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  // display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.about-text {
  background: white;
  border-style: solid;;
  border-color: white;
  color: black;
  font-size: 70px;
}
.about-text2 {
  color: white;
  font-size: 35px;
}
