.landing{
  .container-hero{
    background-image: asset-url("market.jpeg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container{
    color: white;
    font-family: 'Istok Web', sans-serif;
  }

  .container-info{

    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 30px auto;

  }

  .info{
    flex: 0 0 280px;
    margin: 20px 10px;
  }

  .textbox{
  padding: 20px 10px;
  }

  .container-end{
    background-image: asset-url("computers.jpeg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
