<section class ="landing">
  <div class = "container-hero">
    <div class = "container text-center">
      <h1>Welcome to Evil Commerce</h1>
      <p>We put the E in E-Commerce</p>
    </div>
  </div>

  <div class = "container-info text-center">

    <div class = "info">
      <%= fa_icon 'dollar 4x'%>
      <div class = "textbox">
        <h4>Great Deals for Great Value</h4>
      </div>
    </div>

    <div class = "info">
      <%= fa_icon 'shopping-bag 4x'%>
      <div class ="textbox">
        <h4>Online commerce at its best</h4>
      </div>
    </div>

    <div class = "info">
      <%= fa_icon 'mobile-phone 4x'%>
      <div class ="textbox">
        <h4>Accessible throughout all devices</h4>
      </div>
    </div>

    <div class ="info">
       <%= fa_icon 'globe 4x' %>
       <div class ="textbox">
         <h4>Available throughout the whole world</h4>
       </div>
    </div>

  </div>
  
  <div class = "container-end">

  </div>

</section>
