<h1>Order Summary</h1>

<% total = 0 %>

<% @items.each do |item| %>
    <h4>
    Item = <%= item.item_name %>
    <br>
    Quantity = <%= item.quantity %>
    <br>
    Subtotal = <%= number_to_currency(item.price, :unit => 'RM') %>
    </h4>
    <br>
    <% total += item.price * item.quantity.to_i %>

<% end %>

<h3> TOTAL = <%= number_to_currency(total, :unit => 'RM') %> </h3>


<br>
