<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>CATEGORY</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="single-shop-product">
          <% @categories.each do |category| %>

          <h2><a href="<%=category_path(category)%>"><%= category.name %></a></h2>

          <%end%>
        </div>
      </div>

    </div>


  </div>
</div>


<div class="footer-top-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="footer-about-us">
          <h2>e<span>Electronics</span></h2>
          <p>Ecommerce focus on electronics products from the best brand in the market. This is an initiative done by the batch of the Full Stack Web Development (FSWD) programme organized by MaGIC Academy in Cyberjaya. Follow us thru the social media links listed below.</p>
          <div class="footer-social">
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h2 class="footer-wid-title">User Navigation </h2>
          <ul>
            <li><a href="">My account</a></li>
            <li><a href="">Order history</a></li>
            <li><a href="">Wishlist</a></li>
            <li><a href="">Vendor contact</a></li>
            <li><a href="">Front page</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h2 class="footer-wid-title">Categories</h2>
          <ul>
            <li><a href="">Smartphone</a></li>
            <li><a href="">Home accessories</a></li>
            <li><a href="">LED TV</a></li>
            <li><a href="">Computer</a></li>
            <li><a href="">Gadgets</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-newsletter">
          <h2 class="footer-wid-title">Newsletter</h2>
          <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
          <div class="newsletter-form">
            <input type="email" placeholder="Type your email">
            <input type="submit" value="Subscribe">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="copyright">
          <p>&copy; 2016 eElectronics. All Rights Reserved. Coded with <i class="fa fa-heart"></i> by FSWD MaGIC Academy</a></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="footer-card-icon">
          <i class="fa fa-cc-discover"></i>
          <i class="fa fa-cc-mastercard"></i>
          <i class="fa fa-cc-paypal"></i>
          <i class="fa fa-cc-visa"></i>
        </div>
      </div>
    </div>
  </div>
</div>
